body {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
}

.main_container {
  margin: 0 auto;
  margin-top: 6%;
  width: 320px;
}

.setting {
  display: flex;
  justify-content: space-between;
}

.settingButton {
  font-size: 11px;
  flex-direction: row;
  cursor: pointer;
  border-radius: 5px;
}

.settingButton:hover {
  background-color: hotpink;
}

.wrapper {
  width: 100%;
}

.wrapper_info > p {
  text-align: center;
  margin: 5px;
}

.wrapper_puzzle {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  height: 320px;
  outline: 2px solid black;
  outline-offset: -1px;
}

.wrapper_puzzle__container {
  position: relative;
}

.container {
  position: absolute;
  outline: 2px solid black;
  outline-offset: -1px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: cornsilk;
}

.container:hover {
  background-color: cornflowerblue;
}

.wrapper_puzzle__container-text {
  margin: auto;
}
.wrapper_puzzle__container-last {
  display: none;
}

.col_3 {
  width: calc(100% / 3);
  height: calc(100% / 3);
}
.col_4 {
  width: calc(100% / 4);
  height: calc(100% / 4);
}
.col_5 {
  width: calc(100% / 5);
  height: calc(100% / 5);
}
.col_6 {
  width: calc(100% / 6);
  height: calc(100% / 6);
}
.col_7 {
  width: calc(100% / 7);
  height: calc(100% / 7);
}
.col_8 {
  width: calc(100% / 8);
  height: calc(100% / 8);
}

#last_container {
  outline: 2px solid black;
  outline-offset: -1px;
}

.puzzleSize {
  text-align: center;
}

.puzzleSize > p {
  text-align: center;
  padding: 0;
  margin: 2px;
}

.modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(97, 107, 112, 0.8);
  /* display: flex; */
  display: none;
}

.modal_window {
  opacity: initial;
  margin: auto;
  margin-top: 10%;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  width: 300px;
  height: 250px;
  position: relative;
  /* display: block; */
  padding-top: 3px;
}

.modal_window__info {
  width: 100%;
  height: 100%;
}

.modal_window__info > p {
  margin: 0;
  margin-left: 8px;
}

.modal_window__ok {
  margin-left: 2px;
  width: 98%;
  height: 40px;
  position: absolute;
  bottom: 5px;
  border: 1px solid black;
  border-radius: 30px;
  background-color: black;
  cursor: pointer;
}

.modal_window__ok:hover {
  /* border: 2px solid green ; */
  background-color: grey;
}
.modal_window__ok > p {
  margin-top: 12px;
  color: antiquewhite;
  /* margin: auto; */
  padding: 0;
  text-align: center;
}

.modal_window__info > a {
  display: block;
  margin-top: 15 px;
  color: black;
  /* margin: auto; */
  padding: 0;
  text-align: center;
}

.modal_window__info > a:hover {
  background-color: blueviolet;
  color: aliceblue;
}
