body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: url("./../assets/images/unsplash.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  width: 100%;
  height: 100vh;
  position: fixed;
}

header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 14px;
  @media screen and (max-width: 1280px) {
    height: 60px;
  }

  .setting {
    width: 600px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    @media screen and (max-width: 1280px) {
      width: 550px;
    }
    @media screen and (max-width: 767px) {
      width: 310px;
    }
    &Button {
      color: black;
      text-shadow: 1px 1px 1px #fff, 0 0 2em gray;
      text-decoration: underline;
      font-size: 18px;
      min-width: 50px;
      cursor: pointer;
      &:hover {
        color: white;
        text-shadow: 1px 1px 1px black, 0 0 2em gray;
      }
      @media screen and (max-width: 767px) {
        font-size: 12px;
        min-width: 10px;
      }
    }
    .pause_active {
      color: red;
      text-shadow: 1px -1px 1px white, 0 0 2em black;
    }
  }
}

main {
  width: 100%;
  height: 720px;

  .wrapper_info {
    height: 40px;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    &__container {
      width: 300px;
      display: flex;
      justify-content: stretch;
      color: #fff;
      text-shadow: 1px 1px 1px black, 1em 1em 2em gray;
      font-size: 25px;
      font-weight: 900;
    }
    &__chImage {
      position: absolute;
      display: block;
      right: calc(50% - 300px);
      width: 120px;
      font-size: 18px;
      cursor: pointer;
      text-decoration: underline;
      color: #fff;
      text-shadow: 1px 1px 1px black, 1em 1em 2em gray;
      color: #fff;
      &:hover {
        color: darkgray;
      }
      @media screen and (max-width: 1280px) {
        right: calc(50% - 62px);
        top: 20px;
      }
      @media screen and (max-width: 767px) {
        right: calc(50% - 62px);
        top: 23px;
      }
    }
  }
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    &_puzzle {
      position: relative;
      width: 600px;
      height: 600px;
      font-weight: 900;
      color: #fff;
      text-shadow: 1px -1px 1px black, 0 0 1em black;
      background-color: #fff;
      outline: 1px solid blueviolet;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      @media screen and (max-width: 1280px) {
        width: 500px;
        height: 500px;
      }
      @media screen and (max-width: 767px) {
        width: 300px;
        height: 300px;
      }
      .col_3 {
        width: 199px;
        height: 199px;
        @media screen and (max-width: 1280px) {
          width: 166px;
          height: 166px;
        }
        @media screen and (max-width: 767px) {
          width: 99px;
          height: 99px;
        }
      }
      .col_4 {
        width: 149px;
        height: 149px;
        @media screen and (max-width: 1280px) {
          width: 124px;
          height: 124px;
        }
        @media screen and (max-width: 767px) {
          width: 74px;
          height: 74px;
        }
      }
      .col_5 {
        width: 119px;
        height: 119px;
        @media screen and (max-width: 1280px) {
          width: 99px;
          height: 99px;
        }
        @media screen and (max-width: 767px) {
          width: 59px;
          height: 59px;
        }
      }
      .col_6 {
        width: 99px;
        height: 99px;
        @media screen and (max-width: 1280px) {
          width: 82px;
          height: 82px;
        }
        @media screen and (max-width: 767px) {
          width: 49px;
          height: 49px;
        }
      }
      .col_7 {
        width: 84px;
        height: 84px;
        @media screen and (max-width: 1280px) {
          width: 70px;
          height: 70px;
        }
        @media screen and (max-width: 767px) {
          width: 41px;
          height: 41px;
        }
      }
      .col_8 {
        width: 74px;
        height: 74px;
        @media screen and (max-width: 1280px) {
          width: 61px;
          height: 61px;
        }
        @media screen and (max-width: 767px) {
          width: 36px;
          height: 36px;
        }
      }
      #last_container {
        z-index: -1;
      }
      &__container {
        &:hover {
          background-color: #fff;
        }
        .container {
          position: relative;
          width: 100%;
          height: 100%;
          cursor: pointer;
          .wrapper_puzzle__container-text {
            position: absolute;
            z-index: 2;
          }
          .wrapper_puzzle__canvas {
            position: absolute;
            transition: all 1s ease-in-out;
          }
        }
      }
    }
  }
  .puzzleSize {
    color: #fff;
    text-shadow: 1px 1px 1px black, 1em 1em 2em gray;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 5px;
    &Other {
      position: relative;
      display: flex;
      column-gap: 10px;
      a {
        color: #fff;
        &:hover {
          color: darkgray;
        }
      }
    }
  }
}
.modal {
  z-index: 1000;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(102, 102, 102, 0.7);

  &_active {
    display: flex;
  }
  &_window {
    position: relative;
    width: 500px;
    height: 250px;
    background-color: #fff;
    &__info {
      width: 90%;
      height: 80%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      font-size: 35px;
      justify-content: center;
      @media screen and (max-width: 767px) {
        font-size: 18px;
      }
      p {
        text-align: center;
      }
    }
    &__btn {
      position: absolute;
      width: 100%;
      bottom: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      button {
        width: 250px;
        height: 50px;
        background-color: #fff;
        border: 1px solid rgba(102, 102, 102, 0.9);
        @media screen and (max-width: 767px) {
          width: 80px;
          height: 25px;
        }
        cursor: pointer;
        &:hover {
          background-color: rgba(102, 102, 102, 0.1);
          outline: none;
        }
        &:active,
        &:focus {
          outline: none;
        }
      }
    }
    @media screen and (max-width: 767px) {
      width: 200px;
      height: 100px;
    }
  }
}
